In [ ]:
# Read the data
mr_1 = pd.read_csv('../real_estate_data/Mill-Rates_FY1992-2013.csv', skiprows=[0])

# View the data
mr_1.head()

In [ ]:
# Create the response variable, 'great_value'
data.loc[data['assessed_value'] < data['sale_amount'], 'great_value'] = 1
data.loc[data['assessed_value'] >= data['sale_amount'], 'great_value'] = 0
data['great_value'] = data['great_value'].astype(int)

In [ ]:
### Data type conversions

# Define separate 'Code' column
mr1_code = mr_1[['Code']][0:291].astype(int)

In [ ]:
### Drop unneeded columns + rows

# Drop columns
mr_1.drop(columns=['Code'], inplace=True)

# Drop rows
mr_1.drop(mr_1.tail(1).index, inplace=True)

In [ ]:
### Handle missing values

# Replace NaN values with previous year's values
mr_1['2001'].fillna(mr_1['2000'], inplace=True)
mr_1['2012'].fillna(mr_1['2011'], inplace=True)

# Replace 'Not Avail.' with NaN
mr_1.replace('Not Avail.', pd.NA, inplace=True)

# Fill NaN values
mr_1.bfill(axis=1, inplace=True)
mr_1.ffill(axis=1, inplace=True)

# Check missing values
mr_1.isnull().sum().sort_values(ascending=False)

In [ ]:
### Add back 'Code' column

# 'Code'
mr_1['Code'] = mr1_code